@model Book

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Szczegóły książki</h2>
<h6>Tytuł</h6>
<h3>@Model.Title</h3>
<h6>Autor</h6>
<h3>@Model.Author</h3>
<h6>Data wydania</h6>
<h3>@Model.Published</h3>
<h6>Liczba stron</h6>
<h3>@Model.Pages</h3>
<h6>ISBN</h6>
<h3>@Model.ISBN</h3>
<

